<h1 class=" center">Bob's Burgers!</h1>
<div class="container">
  <div class="row">
    <div class="col s12">
      <form class="create-form">
        <div class="form-group">
          <p id="submit-error"></p>
          <label id="burger-name-label" for="Burger-Name">Order a burger (Enter burger name)</label>
          <input type="text" id="Burger-Name" name="name" required>
          <label id="customer-name-label" for="Customer-Name">Place your name to start an order: (Required) </label>
          <input type="text" id="Customer-Name" name="name" required>
        </div>
        <button type="submit">Add burger</button>
      </form>
    </div>
  </div>
  <div class="row push-up">
    <div class="col s6">
      <h3>Pick up window:</h3>
      <ul>
        {{#each customers}}
        {{#if HaveOrder}}
        <li class="burger-border">
          Name: {{dataValues.customer_name}}
          <button class="delete-customer" data-id="{{dataValues.id}}">Cancel my order!</button>
          <form class="add-form">
            <div class="form-group">
              <p id="add-error{{dataValues.id}}"></p>
              <label id="burger-add-label" for="Burger-add-Name">Add a burger (Enter burger name)</label>
              <input type="text" id="Burger-Add-Name{{dataValues.id}}" name="name">
            </div>
            <button class="add-to-order" data-id="{{dataValues.id}}">Add to my order!</button>
          </form>
          <ul>
            {{#each Burgers}}
            {{#unless eaten}}
            {{> burgers/burger-block eat=true}}
            {{/unless}}
            {{/each}}
          </ul>
        </li>
        {{/if}}
        {{/each}}

      </ul>
    </div>
    <div class="col s6">
      <h3>Reorder area:</h3>
      <ul>
        {{#each customers}}
        {{#if HaveReorder}}
        <li class="burger-border">
          Name: {{dataValues.customer_name}}{{#unless HaveOrder}}<button class="delete-customer" data-id="{{dataValues.id}}">Leave the
            store!</button>{{/unless}}
          <ul>
            {{#each Burgers}}
            {{#if eaten}}
            {{> burgers/burger-block eat=false}}
            {{/if}}
            {{/each}}
          </ul>
        </li>
        {{/if}}
        {{/each}}

      </ul>
    </div>
  </div>
</div>