<li class="burger-border">
	<span>{{dataValues.burger_name}} for {{dataValues.Customer.dataValues.customer_name}}</span>
	<button class="change-eat" data-id="{{dataValues.id}}" data-neweat="{{eat}}">
		{{#if eat}}Pick up order!{{else}}Order Another!{{/if}}
	</button>

	{{#unless eat}}<button class="delete-burger" data-id="{{dataValues.id}}">86 This Burger!</button>{{/unless}}
</li>