<li class="burger-border">
	<span>{{burger_name}}</span>
	<br><button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}Pick up burger!{{else}}Order Another!{{/if}}
	</button>

	{{#unless eat}}<button class="delete-burger" data-id="{{id}}">Done ordering these!</button>{{/unless}}
</li>